.wrapper-container {
    background-color: #0046ff;  
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    margin-top: 50px;  
}

.section-container {
    display: flex;
    
}

.left {
    width: 50%;
    margin-left: 200px;
    margin-top: 100px;
}

.right {
    width: 50%;
    margin-top: 100px;
}