body {
  background-color: aqua;
  
}

h1 {
  color: white;
}

.container {
  display: flex;
  background-color: blueviolet;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
}

.logo {
  font-size: 30px;
}

.footer {
  padding: 20px;
  margin: 50px;
}

.gallery-container {
  width: 1200px;
}